<div ng-show="open" directional-focus="{container: 'ol', items: 'li'}" numbered-focus="li">
  <ol ng-class="{start: $first}" ng-repeat="optionList in options">
    <li focus-when="$parent.$first && $first && $parent.open"
    tabindex="{{$index + 1 + options[$parent.$index - 1].length}}"
    ng-repeat="item in optionList" 
    ng-click="execute(item)"
    ng-switch="item.templateUrl">
      <span ng-switch-when="undefined" ng-bind="item.title"></span>
      <span ng-switch-default ng-include="item.templateUrl"></span>
    </li>
  </div>
</div>
