<div tabindex="0" class="ui embedded-context code" contenteditable="false">
  <div class="ui grid">
  <div class="ui fifteen wide column content">

        <textarea ng-model="activeField.source"
          ui-codemirror="codemirror(activeField.editorOptions)"
          ui-refresh='activeField.editorOptions'></textarea>

          <div class="ui menu attached bottom stacked">
                <a class="green item" ng-click="toggleCode()">
                  <i class="code icon"></i>
                </a>

                <a class="green item" ng-click="connect()">
                  <i class="wrench icon"></i>
                  <!-- <div class="ui floating label">
                    Connect
                  </div> -->
                </a>




      <div class="idea-action item three wide column right vertically fitted">
        <div class="cont">
          <div class="compact idea-item ui vertical transparent menu">
            <a class="item" ng-repeat="action in activeField.actions" ng-click="follow(action, $index, $event)">
              <i class="{{action.icon}} icon"></i>
              {{action.text}}
            </a>
          </div>
        </div>
      </div>

          </div>

          <div class="ui segment codeView" ng-show="code" ng-class="{'five wide column': !transposed, 'nine wide column': transposed}">
            <div class="ui floating label">
              Structure
            </div>

            <div class="ui menu attached top stacked right">
                <a class="red item" ng-click="transpose()">
                  <i class="undo icon"></i>
                </a>

            </div>
            
              
              <div class="ui segment attached bottom" ng-class="{'transposed-parent': transposed}">
                    <div class="" ng-init="field = this; key = 'activeField'" ng-include="'views/structural-tree-view.html'" ng-class="{'transposed-wrapper': transposed}">
                    </div>
              </div>
        </div>
    </div>
</div>