<div class="mask" ng-show="open"></div>

<div class="focal-window window connect">

  <div class="ui inverted segment connectLocation">
    <div class="ui huge breadcrumb">
      <a class="section">Connect</a>
      <div class="divider"> / </div>
      <a class="section">Document {{ id }}</a>

      <div class="divider"> / </div>
      <a class="section">Data {{ fieldIndex }}</a>
      <div class="divider"> / </div>
      <div class="active section">Instance {{ instanceName }}</div>
    </div>

<div class="circular inverted white ui icon button floated right" ng-click="close()">
  <i class="icon remove"></i></div>
</div>




<h2 class="ui header">
  <i class="sitemap icon"></i>
  <div class="content">
    Connect Data
    <div class="sub header">Create a relationship between pieces of data.</div>
  </div>
</h2>

<div ng-show="!madeDecision" ui-view="@picker"></div>
<div ng-show="madeDecision" ui-view></div>

</div>

</div>