<div class="container">
    <div class="ui grid connectMain">
    <div class="column three wide"></div>
    <div class="column three wide">
      <div class="ui icon header">
        <i class="circular wrench icon"></i>Use the Data
        <div class="sub header">Use the underlying data.</div>
      </div>
    </div>

    <div class="column three wide">
      <div class="ui icon header"  ng-click="use()">
        <i class="circular camera icon"></i>Use this Instance
        <div class="sub header">Use the current instance.</div>
      </div>
    </div>

      <div class="column three wide">
      <div class="ui icon header">
        <i class="unhide icon"></i>Expose the data
        <div class="sub header">Expose this data to be used externally.</div>
      </div>
    </div>

  </div>
</div>