Stuff to track with Andy and Oli

<h1>business ideas</h1>
<a href="" rel="embedded" data-kind="list" data-id="5"></a>

<h1>Our Puns</h1>
<a href="" rel="embedded" data-kind="list" data-id="0"></a>

<h1>Films</h1>
<a href="" rel="embedded" data-kind="list" data-id="0"></a>


<div class="ui grid">
  
  <div class="three wide column">
    <h1>before</h1>
    <a href="" rel="embedded" data-kind="jsonlist" data-id="1"></a>
  </div>


  <div class="three wide column">
      <h1>after</h1>
      <a href="" rel="embedded" data-kind="jsonlist" data-id="2"></a>
  </div>

  <div class="three wide column">
      <h1>twice</h1>
      <a href="" rel="embedded" data-kind="jsonlist" data-id="3"></a>
  </div>

  <div class="three wide column">
      <h1>attempt</h1>
      <a href="" rel="embedded" data-kind="jsonlist" data-id="4"></a>
  </div>

</div>