<div class="container" keypress>
  <div class="ui grid">
    
      <div class="row">
        <div class="fifteen wide column">
          <!-- focus-when="active" -->
          <div  interested-in-focus="active" tabindex="1" ng-model="body" ng-show="true" follow=".dropdown-follow" contenteditable="true" class="post-body segment" ng-class="{open: open}" type="text">
            <div>&nbsp;</div>
            <!-- <a rel="embedded" data-kind="list" data-id="0" href="0" class="ng-scope"></a> -->
            <div>&nbsp;</div>
          </div>
          <!-- <textarea follow=".dropdown" class="post-body segment" ng-model="body">
            Test
          </textarea> -->
        </div>
        <div class="one wide column" ng-show="true">
            <div class="ui hover floated button right" ng-click="save()">
              Create
            </div>
            
        </div>
      </div>
      
    
    
  </div>
</div>