<div class="container" keypress>
  <div class="ui grid">
    
      <div class="row">
        <div class="fifteen wide column">
          <!-- Having performance issues with 'focus-when' focus-when="active" -->
          <div  interested-in-focus="active" tabindex="1" ng-model="body" ng-show="true" follow=".dropdown-follow" contenteditable="true" class="ui segment attached left post-body segment" ng-class="{open: open}" type="text">
            <div>&nbsp;</div>
            <!-- <a rel="embedded" data-kind="list" data-id="0" href="0" class="ng-scope"></a> -->
            <div>&nbsp;</div>
          </div>
          <!-- <textarea follow=".dropdown" class="post-body segment" ng-model="body">
            Test
          </textarea> -->
        </div>
        <!-- <div class="one wide column" ng-show="true"> -->
              <div class="ui vertical icon menu left attached left">
                <div class="ui button item" ng-click="save()">
                  Create
                </div>

                <a class="red item" ng-click="tree()">
                  <i class="sitemap icon"></i>
                </a>
                
              </div>



        <!-- </div> -->
      </div>
      
    
    
  </div>
</div>