<div class="container" keypress>
  <div class="ui grid">
    
      <div class="row">
        <div class="fifteen wide column">
          <div focus-when="active" interested-in-focus="active" tabindex="1" ng-model="body" ng-show="true" follow=".dropdown" contenteditable="true" class="post-body segment" ng-class="{open: open}" type="text" placeholder="Type something…">


              <a rel="embedded" href="list">List</a>

          </div>
          <!-- <textarea follow=".dropdown" class="post-body segment" ng-model="body">
            Test
          </textarea> -->
        </div>
        <div class="one wide column" ng-show="true">
            <div class="ui hover floated button right" ng-click="save()">
              Create
            </div>
            
        </div>
      </div>
      
    
    
  </div>
</div>