<div class="focal-window">

<div class="ui inverted segment">
Embed

<div class="circular inverted white ui icon button floated right" ng-click="close()">
  <i class="icon remove"></i>
</div>

</div>


<h2 class="ui header">
  <i class="sitemap icon"></i>
  <div class="content">
    Embed Data
    <div class="sub header">Reuse data from another document.</div>
  </div>
</h2>

 <div class="ui large header">Other Documents</div>
<div class="embed-section">
  <div packery=".document-card" class="available-subdocuments">
    
      <div ng-repeat="feedItem in items" class="document-card window" prepended data-document-id="{{feedItem._id }}" ng-click="embedDocument(feedItem)">
          <a class="ui orange label">
            {{ feedItem._id }}
          </a>
          <div angular-content="feedItem.contents" document-index="$index" contenteditable="false" incremental="false"></div>
      </div>
  </div>

</div>


<div class="embed-section">
<div class="ui large header">Fields from this document</div>


  <div packery=".document-card" class="available-subdocuments">
    
      <div ng-repeat="field in activeDocument.fields"
      class="document-card window"
      prepended
      ng-click="embed($index)">
      {{$index}}
      {{field.type}}
      <a href="" rel="embedded" data-kind="{{field.type}}" data-id="{{$index}}"></a>
          <a class="ui blue label">{{ field.type }}</a>
    </div>
  </div>

</div>

<div class="embed-section">
<div class="ui large header">Fields from other documents</div>


<div packery=".document-card" class="available-subdocuments">
    
      <div ng-repeat="feedItem in items" class="document-card window" prepended data-document-id="{{feedItem._id }}" ng-show="feedItem.fields.length > 0">
        <a class="ui orange label">
            {{ feedItem._id }}
        </a>
        <li ng-repeat="field in feedItem.fields">
          <a class="ui purple label" ng-click="embedExternalField(feedItem, $index)">
            {{ field.type }}
          </a>
        </li>
      </div>
    </div>
  </div>

<!-- <div class="dropdown" directional-focus="{container: 'ol', items: 'li'}" numbered-focus="li">
  <ol ng-class="start">

    <li tabindex="0" ng-repeat="field in activeDocument.fields" ng-bind="field.type" ng-click="embed($index)" focus-when="$first"></li>
  </ol>
</div> -->

</div>