.document-card {
  width: 250px;
  height: 90px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.subdocument {
  
}

.available-spaces {
  width: 100%;
  height: 700px;
  overflow-y: scroll;
}

.document-card:hover {
  width: 250px;
  height: 400px;
  overflow: scroll;
  opacity: 0.8;
  -webkit-transform: scale(1.5);
  -webkit-transform-origin: 0 0;
}

.post-body {
  resize: none;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-linear-gradient(top, white, #F2F2F2);
  background-image: -o-linear-gradient(top, white, #F2F2F2);
  background-image: linear-gradient(to bottom, white, #F2F2F2);
  font-size: 16pt;
  font-family: Tahoma;
  padding-left: 5px;
  overflow-y: scroll;
  margin-bottom: 0.3em;
  padding-top: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;

  min-height: 1em;
  height: 1rem;
  padding-bottom: 12.800000190734863px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 12.800000190734863px;
  line-height: 1;
}

.post-body.open {
  height: 700px;
}

.submitter {
  font-weight: bold;
}

.post {
  margin: 0.3em;
  padding: 0.3em;
  border-bottom: 3px solid #F2F2F2;
}
