.context {
 
 width: 250px;
 height: 300px;
 overflow-y: hidden;
 -webkit-transition: width 2s ease;
 -webkit-transition: height 2s ease;
/*   height: 400px;
  
  white-space: pre-wrap;
  */
  z-index: 0;
}

.context:hovera {
  width: 700px;
  height: 500px;
  z-index: 1;
}

.spaces {
  padding: 0.5em;
}